@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

button {
  background-color: transparent;
}

/* custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #337aff;
  border-radius: 3.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0059ff;
}
